<footer class="footer-area bg-black-2 section-padding-lr">
    <div class="footer-hm4-ptb">
        <div class="container-fluid">
            <div class="row">   
                <div class="col-lg-3">
                    <!-- footer-widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <a routerLink="/"><img src="assets/images/logo/logo.png" alt=""></a>
                        </div>
                        <p>
                            <!-- Eiusmod tempor incididunt ut la abore et minim ven exerc itation ulla mco lboris naliquip comm. -->
                        </p>
                        <div class="social-style-1">
                            <a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            <a class="instagram" href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                    <!--// footer-widget -->
                </div>
                <div class="col-lg-9">
                    <div class="footer-top-right">
                        <div class="footer-quicklink">
                            <app-menu></app-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-bottom-ptb footer-black-hm4">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p class="copyright-text">
                            Copyright ©2024 Todos los derechos reservados.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login-alert">
                        <p>Ya tienes cuenta? <a routerLink="/login">LOGIN</a></p>
                        <div class="member-btn">
                            <a class="member-btn-style" routerLink="/login">Regístrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
