<div class="section-title-4 st-border-bottom">
    <h2>Próximos eventos</h2>
</div>
<div class="movie-slider-active lastEventSlider nav-style-2" [style.visibility]="!containerLoading ? 'visible' : 'hidden'">
    <div class="movie-wrap-plr" *ngFor="let item of data.data; let i=index;">
        <app-single-card-event [item]="item"></app-single-card-event>
    </div>
    <div class="movie-wrap-plr" *ngIf="data.more">
        <div class="movie-wrap text-center mb-4">
            <div class="movie-img">
                <a routerLink="/eventos" [queryParams]="{ order: 'upcoming' }">
                    <img src="assets/images/product/view_more.jpeg">
                </a>
            </div>
            <div class="movie-content">
                <div class="movie-btn">
                    <a routerLink="/eventos" [queryParams]="{ order: 'upcoming' }" class="btn-style-hm4-2 animated">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="containerLoading slider-height" *ngIf="containerLoading">
    <app-loading></app-loading>
</div>
