<div class="main-wrapper">
    <app-header></app-header>
    <div class="breadcrumb-area breadcrumb-modify-padding bg-black-3">
        <div class="container">
            <div class="in-breadcrumb">
                <div class="row">
                    <div class="col">
                        <div class="breadcrumb-style-2 center">
                            <h2>Login</h2>
                            <ul class="breadcrumb-list-2 black">
                                <li><a routerLink="/">Inicio</a></li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="register-page bg-black section-pt-90 section-pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 m-auto">
                    <div class="login-register-wrapper">
                        <!-- login-register-tab-list start -->
                        <div class="login-register-tab-list white nav">
                            <a class="active" data-bs-toggle="tab" href="#lg1">
                                <h4> login </h4>
                            </a>
                            <a data-bs-toggle="tab" href="#lg2">
                                <h4> registrarse </h4>
                            </a>
                        </div>
                        <!-- login-register-tab-list end -->
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container border-black">
                                    <div class="login-register-form black-style">
                                        <form action="#" method="post">
                                            <div class="login-input-box">
                                                <input type="text" name="user-name" placeholder="Usuario">
                                                <input type="password" name="user-password" placeholder="Contraseña">
                                            </div>
                                            <div class="button-box">
                                                <div class="login-toggle-btn">
                                                    <input type="checkbox">
                                                    <label>Recordarme</label>
                                                    <a href="javascript:void(0)">¿Olvidatse tu contraseña?</a>
                                                </div>
                                                <div class="button-box">
                                                    <button class="login-btn btn" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal"
                                                        type="submit"><span>Ingresar</span></button>
                                                    <div class="social-style-1 mt-4 float-right">
                                                        <a class="facebook" href="javascript:void(0)"><i
                                                                class="zmdi zmdi-facebook"></i></a>
                                                        <a class="instagram" href="javascript:void(0)"><i
                                                                class="zmdi zmdi-google"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="lg2" class="tab-pane">
                                <div class="login-form-container border-black">
                                    <div class="login-register-form black-style">
                                        <form action="#" method="post">
                                            <div class="login-input-box">
                                                <input type="text" name="user-name" placeholder="Usuario">
                                                <input type="password" name="user-password" placeholder="Contraseña">
                                                <input name="user-email" placeholder="Email" type="email">
                                            </div>
                                            <div class="button-box">
                                                <button class="register-btn btn" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"
                                                    type="submit"><span>Registrarse</span></button>
                                                <div class="social-style-1 mt-4 float-right">
                                                    <a class="facebook" href="javascript:void(0)"><i
                                                            class="zmdi zmdi-facebook"></i></a>
                                                    <a class="instagram" href="javascript:void(0)"><i
                                                            class="zmdi zmdi-google"></i></a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Page Conttent -->
    <app-footer></app-footer>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="subscribe-btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="zmdi zmdi-close s-close"></i></button>
            </div>
            <div class="modal-body text-center">
                <h5 id="exampleModalLabel">Estamos trabajndo en esta sección, pronto podrás acceder.</h5>
            </div>
        </div>
    </div>
</div>